@use "themeprovider" as theme;

.bg-warm {
  background: url("../assets/hot.jpg");
  @include theme.weather-background();
}

.bg-cool {
  background: url("../assets/cool.jpg");
  @include theme.weather-background();
}

.bg-main {
  background: url("../assets/neutral.jpg");
  @include theme.weather-background();
}

.weather-content-wrapper {
  display: flex;
  justify-content: center;
}

.weather-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border-radius: 15px;
  width: min(80%, 43em);
  // background: rgba(14, 59, 67, 0.37);
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 2em;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);

  .weather-place {
    color: theme.$font-color;
    font-size: clamp(1.5rem, 3vw, 2.2rem);
  }

  .weather-date {
    color: theme.$font-color;
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-top: 0.2em;
  }

  .weather-temp {
    color: theme.$font-color;
    font-size: clamp(4rem, 10vw, 6.5rem);
  }

  .weather-status {
    color: theme.$font-color;
    font-size: clamp(1.3rem, 3vw, 1.8rem);
  }

  @supports not (font-size: clamp(1.5rem, 3vw, 2.2rem)) {
    .weather-place {
      font-size: min(1.5rem, 2.2rem);
    }

    .weather-date {
      font-size: min(1.3rem, 1.5rem);
    }

    .weather-temp {
      font-size: min(4.5rem, 6.5rem);
    }

    .weather-status {
      font-size: min(1.3rem, 1.8rem);
    }
  }

  .weather-loading {
    text-align: center;

    h2 {
      margin-top: 0.3em;
      color: theme.$font-color;
      font-size: clamp(1.3rem, 3vw, 1.7rem);
    }
  }

  .weather-main-menu {
    text-align: center;

    .weather-main-title {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: center;
      img {
        width: clamp(3rem, 5vw, 5.5rem);
      }
      h1 {
        margin-top: 0.45em;
        color: theme.$font-color;
        font-size: clamp(1.55rem, 3vw, 2.3rem);
      }

      @supports not (width: clamp(3rem, 5vw, 5.5rem)) {
        img {
          width: min(3rem, 6.5rem);
        }
      }
    }

    .weather-main-subtitle {
      margin-top: 0.7em;
      h1 {
        color: theme.$font-color;
        font-size: clamp(1.45rem, 3vw, 1.8rem);
      }
    }
  }
}

@media (min-width: 43em) {
  .weather-content {
    .weather-main-menu {
      .weather-main-title {
        flex-direction: row;

        h1 {
          margin-top: 0em;
        }

        img {
          margin-left: 0.8em;
        }
      }
    }
  }
}
